In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("students_placement.csv")

In [3]:
df.head(10)

   cgpa   iq  profile_score  placed
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0
5  7.15   98             63       1
6  7.40  100             71       1
7  7.97   86            100       1
8  6.64  111             56       0
9  7.82   99             58       0

0 -> unplaced and 1 -> placed

In [4]:
x = df.drop(columns = ['placed'])

In [5]:
x.head(10)

   cgpa   iq  profile_score
0  5.97  106             61
1  6.83  113             77
2  6.60  110             61
3  5.54  113             68
4  6.84  102             67
5  7.15   98             63
6  7.40  100             71
7  7.97   86            100
8  6.64  111             56
9  7.82   99             58

In [6]:
y = df['placed']

In [7]:
y.head(10)

0    0
1    0
2    0
3    0
4    0
5    1
6    1
7    1
8    0
9    0
Name: placed, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 2)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
accuracy_score(y_test, y_pred)

0.8833333333333333

In [10]:
# pickle converts any file into binary/web format so that main model can be read easily
# wb = write binary and rb = read binary
import pickle
pickle.dump(rf, open('model.pkl','wb'))